header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  background: linear-gradient(0deg,#CE3A2D,#621708);
  background-repeat: no-repeat;
  background-position: 50%;
  background-attachment: scroll;
  background-size: cover;
}

